* {
	padding: 0;
	margin:0;
	font:18px "微软雅黑";
}
#map {
	display: inline-block;
}
#head {
	width: 50px;
	height: 15px;
	background-color: blue;
}

#block {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: red;
	transition: 1s all;
}
table {
	position: relative;
	border-collapse:collapse;
}
table td {
	width: 50px;
	height: 50px;
	border: 2px solid grey;	
}

tbody {
	border:3px solid;
}

li {
	text-align: center;
	list-style: none;
	font-size:20px;
}
#row {
	font-size: 0;
	margin-left: 30px;
}
#row li{
	display: inline-block;
	width:50px;
	padding: 1px;
}
#col {
	float: left;
}
#col li{
	height: 50px;
	line-height: 50px;
	padding:1px;
	margin-right:5px;
}

#container {
	float: left;
	position: relative;
	left: 50%;
}
#command {
 	float: left;
	position: relative;
	left: -50%;
	width: 400px;
	height: 550px;
	line-height: 25px;
	color: #00FF00;
	background-color: black;
	resize:none;
} 
#side {
	float: left;
	position: relative;
	left: -50%;
	width: 30px;
	height: 550px;
	color:black;
	background-color: #CECECE;
	text-align: center;
}
#side li {
	width: 30px;
	height: 25px;
	transition: 2s all;
}
.correct {
	background-color: blue;
	color:white;
}
.incorrect {
	background-color: red;
	color: white;
}

#btn {
	text-align: center;
	margin-bottom: 5px;
}

button {
	font-size: 15px;
	width: 60px;
	height: 30px;
	color: white;
	background-color: #337AB7;
	border:2px solid;
	border-radius: 4px;
	cursor: pointer;
	transition: 1s;
	transition-property:all;
}
button:hover {
	background-color: white;
	color:#337AB7;
}
#info {
	display: inline-block;
	width:180px;
	margin-left: 130px;
	font-weight: bold;
	transition: 1s all;
}
.info_correct {
	color: #00FF00;
}
.info_incorrect {
	color: red;
}

#outer {
	position: absolute;
	width: 550px;
	height: 800px;
	top:20px;
	left:800px;
}

p {
	display: inline-block;
	width: 410px;
	height: 180px;
	font-size:16px;
	font-weight: bold;
	line-height: 20px;
	border: 2px solid;
	margin:5px 0 0 58px;
	padding: 10px;
}
